
.long-btn{
    background-color: #5979c3;
    color: white;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 10px;
    transition: 200ms ease-in-out;
    animation: show 300ms ease-in-out;
}

.long-btn:hover{
    transform: scale(1.05);
}

.notes-main{
    padding: 30px 20px 80px 20px;
}

.note-list{
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0px;
}

.note-list p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}