

.box-main{
    padding: 30px 30px 80px 30px;
}

.box{
    cursor: pointer;
    height: 150px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    animation: show 300ms ease-in-out;
    transition: 200ms ease-in-out;
}

.box:hover{
    transform: scale(1.03);
}

.box-left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left img{
    height: 50%;
}

.box-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
